* {
    box-sizing: border-box;
    user-select: none;
}

html {
    font-family: "Segoe UI", SegoeUI, "Microsoft JhengHei", 微軟正黑體,
        "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
ul {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body {
    // background: no-repeat center/cover url("../img/bgi.jpg");
    // height: auto;
    // background-attachment: fixed;

    main {
        #future {
            .banner {
                background: no-repeat center/cover url("../img/42642380602_5d4084c927_o.jpg");
                height: auto;

                // @media (max-width:768px) {
                //     height: auto;
                // }

                background-attachment: fixed;

                //  opacity: .8;
                .d-bg {
                    border-radius: 20px;
                    background-color: rgba(158, 146, 146, 0.2);
                }
            }
        }

        .blog {
            // .skill {
            //     background: no-repeat center/cover url("../img/1.jpg");
            //     height: auto;
            //     background-attachment: fixed;
            // }

            .bg-border {
                background: no-repeat center/cover url("../img/1.jpg");
                height: auto;
                background-attachment: fixed;
            }

            // .story {
            //     background: no-repeat top/cover url("../img/1.jpg");
            //     height: auto;
            //     background-attachment: fixed;
            // }
        }

        .project-bd {
            &:hover {
                transform: scale(1.1);
            }
        }

        #photoshop {
            .bg-border-ps1 {
                background: no-repeat center/contain url("../img/PS/21-張鴻檄-蘋果.jpg");
            }

            .bg-border-ps2 {
                background: no-repeat center/contain url("../img/PS/21-張鴻檄-聖誕球.jpg");
            }

            .bg-border-ps3 {
                background: no-repeat center/contain url("../img/PS/21-張鴻檄-色溫練習2.jpg");
            }

            .bg-border-ps4 {
                background: no-repeat center/contain url("../img/PS/21-張鴻檄-婚紗修圖2.jpg");
            }
        }

        #illustrator {
            .bg-border-ai1 {
                background: no-repeat center/contain url("../img/AI/21-張鴻檄-小雨傘.jpg");
            }

            .bg-border-ai2 {
                background: no-repeat center/contain url("../img/AI/21-張鴻檄-小月亮2.png");
            }

            .bg-border-ai3 {
                background: no-repeat center/contain url("../img/AI/21-張鴻檄-pentool.jpg");
            }

            .bg-border-ai4 {
                background: no-repeat center/contain url("../img/AI/21-張鴻檄-LowPoly-自畫像.jpg");
            }
        }

        .img-border {
            width: 130px;
            height: 130px;
            border: 0px solid #000;
            background-color: rgba(250, 243, 178, 0.5);
            border-radius: 50%;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        .btn {
            position: relative;
            // right: 0;
            // bottom: 5%;
            width: 50px;
            height: 50px;
            color: #fff;
            background-color: #5c5c5c;
            border-radius: 50%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
            font-size: 25px;
            line-height: 35px;
            cursor: pointer;
            outline: none;
            border: none;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 2px solid rgba(0, 0, 0, 0.5);
                /*     transform-origin: center; */
                box-sizing: border-box;
                z-index: -1;
            }

            /* &::after {
            transition-delay: 2s;
        } */

            &:hover::before,
            &:hover::after {
                border-color: transparent;
                filter: blur(2px);
            }

            &:hover::before {
                transform: scale(3);
                transition: 1s transform ease, 2s blur ease, 0.8s border-color ease;
            }

            &:hover::after {
                transform: scale(2);
                transition: 1s transform ease, 2s blur ease, 0.8s border-color ease;
            }
        }
    }
}